<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    
    <title>GSteam - Store</title>
</head>
<body>
    <header>
        <a class="header-logo" href="index.html">
            <img src="../static/images/app/logo.png">
        </a>
        <div class="header-nav">
            <ul>
                <li><a href="index.html">Store</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div class="header-login">
            <a href="login.html">Sign In</a>
        </div>
    </header>


    <div class="items-container">
        <div class="item-card">
            {% for img, title, price in items %}
            <div class="item-image">
                <img src={{ img }}>
            </div>
            <div class="item-info">
                <div class="item-title">{{ title }}</div>
                <div class="item-price">${{ price }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>